.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(139, 193, 211);
  height: 100%;
  position: relative;
  box-shadow: 1px 1px 10px lightgrey;
  position: relative;
}

.username-change {
  position: absolute;
  top: 40px;
  right: 10px;
}

@media (max-width: 480px) {
  .username-change {
    top: 5px;
  }
}