main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

section {
  min-width: 60%;
  height: 40vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: lightgrey;
  border-radius: 15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  padding: 10px;

  input {
    padding: 5px 40px;
    border-radius: 15px;
  }
}

button {
  border-radius: 15px;
  cursor: pointer;
  padding: 5px 40px;
}
