header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  height: 40px;
}

form {
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  bottom: 5px;
  display: flex;
  gap: 5px;
  margin-left: 200px;

  input {
    width: 80%;
    padding: 10px;
    border-radius: 15px;
    background-color: lightgray;
    outline: none;
    border: none;
    box-shadow: inset 1px 1px 5px black;
  }

  button {
    width: 20%;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    border: none;
    box-shadow: inset 0 0 5px black;

    &:hover {
      box-shadow: inset 1px 1px 10px black;
      outline: none;
    }
  }
}

#messages {
  position: absolute;
  bottom: 35px;
  top: 100px;
  left: 200px;
  right: 0;
  background-color: lightcyan;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: lightgrey;
    border-radius: 15px;
    padding: 5px;
    position: relative;
    height: 40px;

    .user-chat {
      font-weight: 800;
      width: 20%;
      position: absolute;
      left: 0;
      height: 100%;
      background-color: rgba(180, 180, 180, 0.9);
      cursor: pointer;
      box-shadow: 2px 1px 5px;
    }
  }
}
