<section class="chat-wrapper">
  <div id="messages" #messagesContainer>
    <header class="chat-header">
      <h2>Allgemeiner Chat</h2>

      <button class="user-name-btn" type="button" (click)="openNameModal()" title="Name ändern">
        👤 {{ user }}
      </button>
    </header>
    @for (message of messages; track message) {
    <div class="message" [ngClass]="message.author === user ? 'user-message' : 'bot-message'">
      @if (message.text === '...' && message.author === 'Bot') {
      <div class="bot-typing">Bot tippt…</div>
      } @else {
      <strong>{{ message.author }}:</strong> {{ message.text }}
      }
    </div>
    }
  </div>

  <div id="input-area">
    <form (submit)="addMessage(input.value); input.value = ''; $event.preventDefault()">
      <input type="text" #input autocomplete="off" />
      <button type="submit">➤</button>
    </form>
  </div>
</section>
