header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  height: 40px;
}

form {
  display: flex;
  gap: 5px;
  height: 40px;
  width: 100%;
  padding: 0 10px;

  input {
    width: 80%;
    padding: 10px;
    border-radius: 15px;
    background-color: lightgray;
    outline: none;
    border: none;
    box-shadow: inset 1px 1px 5px black;
  }

  button {
    width: 20%;
  }
}

#messages {
  height: calc(100vh - 160px);
  margin-top: 100px;
  background-color: lightcyan;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  gap: 8px;
  overflow-y: auto;
  padding: 10px;
  background-color: #f0f0f0;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: lightgrey;
    border-radius: 15px;
    padding: 5px;
    position: relative;
    height: 40px;
  }
}

.user-message {
  align-self: flex-end;
  background-color: #dcf8c6;
  padding: 8px 12px;
  border-radius: 12px;
  max-width: 70%;
  width: 80%;
}

.bot-message {
  align-self: flex-start;
  background-color: #fff;
  padding: 8px 12px;
  border-radius: 12px;
  max-width: 70%;
}

.bot-typing {
  align-self: flex-start;
  display: inline-block;
  font-style: italic;
  color: #555;
  animation: blink 2s infinite;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 0;
  }

  25%,
  75% {
    opacity: 1;
  }
}

#input-area {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 500px) {
  button {
    width: auto !important;
  }
}