.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

app-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
}

 app-sidebar {
        position: absolute;
        left: 0;
        width: 200px;
        top: 100px;
        bottom: 0;
    }