* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  border: none;
  box-shadow: inset 0 0 5px black;

  &:hover {
    box-shadow: inset 1px 1px 10px black;
    outline: none;
  }
}

input {
  padding: 5px 40px;
  border-radius: 15px;
}
