* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inter-v20-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/plus-jakarta-sans-v12-latin-regular.woff2') format('woff2');
}

:root {
  --main-font: 'Inter', system-ui, -apple-system, sans-serif;
}

body {
  font-family: var(--main-font);
  background-color: rgb(203, 234, 244);
}

button {
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  border: none;
  box-shadow: inset 0 0 5px black;

  &:hover {
    box-shadow: inset 1px 1px 10px black;
    outline: none;
  }
}

input {
  padding: 5px 40px;
  border-radius: 15px;
}
